PRISMA_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/game_delistings?schema=public"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/game_delistings?schema=public"
POSTGRES_URL="postgresql://postgres:postgres@localhost:5432/game_delistings?schema=public"
IGDB_CLIENT_ID=""
IGDB_CLIENT_SECRET=""
INGEST_API_KEY=""
